@font-face {
    font-family: 'Roose';
    src: url('fonts/Roose Sally.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Roose', Times, Serif;
    font-size: 3em;
    font-weight: normal;
    text-align: center;
}